{% extends 'store/Main.html' %}
{% load static %}
{% block content %}
<h3>Men's Collection</h3>
<hr>
<div class="row">
{% for product in products %}
    <div class="col-lg-4 mb-4">
        <div class="box-element product">
            <img class="thumbnail" src="{{product.imageURL}}" style="height: 150px; width: 100%; object-fit: contain; padding: 10px;">
            <hr>
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>
        </div>
    </div>
{% empty %}
    <p>No products available yet!</p>
{% endfor %}
</div>
{% endblock content %}